/* COLORS */
/* background */
$primary-color-bg: #F6F6F6;
$secondary-color-bg: #FFFFFF;

/* input */
$input-background-color: #F7F7F7;
$input-border-default: #E5E5EA;
$input-border-focused: #007BFF;
$input-border-error: #FF3B30;

/* checkbox */
$checkbox-background-color: #FFFFFF;
$checkbox-border-color: #B4B4B4;
$checkbox-label-color: #8E8E93;

/* button */
$button-text-color: #FFFFFF;
$button-color-blue: #007BFF;
$button-color-red: #FF3B30;

/* login */
$login-title-color: #343432;
$login-title-line-color: #EFEFF4;
$login-error-desc-color: #FF010B;